.page-header-comand {
    border-radius: 0;
    padding: 2px;
}

.table-header, .table-footer {
    background: #555555;
    color: white;
}

.table-body .table-item-actions {
    visibility: hidden;
    /*display: none;*/
}

a.featured {
    font-weight: bold;
    text-decoration: none;
}

.table-body .table-item-actions .edit,
.table-body .table-item-actions .trash,
.table-body .table-item-actions .details {
    font-size: 12px;
}

.table-body .table-item-actions .trash a {
    color: #904338;
}

.table-body .table-item-actions .details a {
    color: #449D44;
}

.table-body .table-item-actions .edit a,
.table-body .table-item-actions .trash a,
.table-body .table-item-actions .details a {
    text-decoration: none;
}

.table-body tr:hover .table-item-actions {
    visibility: visible;
}

a.ordened {
    color: #A8CF45;
    text-decoration: none;
}

a.ordened .asc {
    visibility: hidden;
}

.ordenator:hover a.ordened .asc {
    visibility: visible;
}

.modal-table {
    display: table;
    width: 100%;
}

.modal-table .mt-thead,
.modal-table .mt-tbody,
.modal-table .mt-tfoot {
    display: block;
    width: 100%;
}

.modal-table .mt-thead,
.modal-table .mt-tfoot{
    background: #555555;
    color: white;
    font-weight: 600;
}
.modal-table .mt-thead .mt-row .mt-col:first-child {
    /*background: red;*/
}

.modal-table .mt-row:first-child {
    border-top: 1px solid #ddd;
}
.modal-table .mt-row {
    display: inline-flex;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.modal-table .mt-col:last-child{
    border-right: 1px solid #ddd;
}
.modal-table .mt-col {
    display: table-cell;
    padding: 8px;
    border-left: 1px solid #ddd;
}
.sem-quebra{
    white-space: nowrap;
}